<a href="https://colab.research.google.com/github/jiho4399/contests/blob/master/%EC%B9%98%EC%95%88%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D%EA%B3%B5%EB%AA%A8%EC%A0%84/01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B3%91%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 불러오기

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/MyDrive/contest/AF_contest/data/'

Mounted at /content/drive

In [ ]:
KP2020 = pd.read_csv(path + 'KP2020.csv', encoding='cp949')

KP2021 = pd.read_csv(path + 'KP2021.csv', encoding='cp949')

NPA2020 = pd.read_csv(path + 'NPA2020.csv', encoding='cp949')

codebook = pd.read_excel(path + 'codeBook_v3.xlsx')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# 데이터 탐색

## CodeBook

변수 설명  
- RECV_DEPT_NM: 접수부서코드
- RECV_CPLT_DM: 접수완료일시 
- NPA_CL: 경찰청 구분
    - 대전청: 13
    - 충남청: 19

- EVT_CL_CD: 사건종별코드  
    - 교통: 004  --> 중분류
      - 교통사고: 401
      - 교통불편: 402
      - 교통위반: 403
      - 사망.대형사고: 404
      - 인피도주: 405 (뺑소니)
      - 음주운전:406

- RPTER_SEX: 신고 성별
  - 1: 남성
  - 2: 여성
  - 3: 불상
- HPPN_PNU_ADDR: 발생지점
- HPPN_X: 발생좌표X
- HPPN_Y: 발생좌표Y
- SME_EVT_YN: 동일사건여부 (Y / NaN)

- RECV_CPLT_DT: 접수완료일자
- RECV_CPLT_TM: 접수완료시간
  - 6자리(6자리가 아닌경우 앞에 0을 붙여서)
- NPA_CL: 경찰청구분
- EVT_STAT_CD: 사건상태코드
- EVT_CL_CD: 사건종별코드
- RPTER_SEX: 신고 성별
- HPPN_OLD_ADDR: 발생구주소
- HPPN_X: 발생좌표X
- HPPN_Y: 발생좌표Y
- SME_EVT_YN: 동일사건여부

- EVT_STAT_CD: 사건상태코드

In [ ]:
# EVT_STAT_CD (사건상태코드) 범주 확인 
codebook[codebook["컬럼명"]=="EVT_STAT_CD"][["코드명", "코드값"]]

     코드명   코드값
18   접수중   1.0
19    접수   2.0
20  초기지령   3.0
21    지령   4.0
22    도착   5.0
23  네비종결   6.0
24  종결요청   7.0
25  지령취소   8.0
26  타청이첩   9.0
27  종결요청  10.0

In [ ]:
# NPA_CL (경찰청 구분) 범주 확인
codebook[codebook["컬럼명"]=="NPA_CL"][["코드명", "코드값"]]

      코드명   코드값
0      본청   1.0
1     서울청   8.0
2     부산청   9.0
3     대구청  10.0
4     인천청  11.0
5     광주청  12.0
6     대전청  13.0
7     울산청  14.0
8   경기남부청  15.0
9   경기북부청  16.0
10    강원청  17.0
11    충북청  18.0
12    충남청  19.0
13    전북청  20.0
14    전남청  21.0
15    경북청  22.0
16    경남청  23.0
17    제주청  24.0



---



---



---

## DATA1: KP2020

In [ ]:
KP2020

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,충남청,20/12/01 01:43:07.000000000,19,10,305,1.0,충청남도 보령시 궁촌동(행정:대천4동) 369,126.598345,36.341537,Y
1,대전청,20/12/01 02:05:04.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
2,대전청,20/12/01 02:06:52.000000000,13,10,601,1.0,NaN,127.404663,36.341685,NaN
3,충남청,20/12/01 02:37:25.000000000,19,10,606,3.0,충청남도 보령시 천북면 하만리 628-10,126.524980,36.474390,N
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN
...,...,...,...,...,...,...,...,...,...,...
77072,충남청,20/12/31 01:18:16.000000000,19,10,302,2.0,충청남도 보령시 주교면 주교리(행정:주교면) 191-6,126.571002,36.387791,NaN
77073,충남청,20/12/31 01:17:45.000000000,19,10,501,3.0,NaN,NaN,NaN,NaN
77074,충남청,20/12/31 00:13:50.000000000,19,10,604,3.0,충청남도 아산시 온천동(행정:온양1동) 1498,127.000391,36.788411,NaN
77075,대전청,20/12/31 00:49:29.000000000,13,10,302,2.0,대전광역시 서구 갈마동(행정:갈마2동) 975,127.373351,36.348051,Y
77076,대전청,20/12/31 00:49:06.000000000,13,10,601,3.0,NaN,NaN,NaN,NaN

### 1) 교통사고 관련 데이터 추출

In [ ]:
idx4 = [i for i in range(len(KP2020['EVT_CL_CD'])) if KP2020['EVT_CL_CD'][i] in [4, 401, 402, 403, 404, 405, 406]]
KP2020_4 = KP2020.iloc[idx4, :]
KP2020_4

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
4,충남청,20/12/01 08:17:50.000000000,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN
7,대전청,20/12/01 03:24:26.000000000,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN
8,충남청,20/12/01 07:37:18.000000000,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN
9,대전청,20/12/01 07:08:44.000000000,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN
10,대전청,20/12/01 07:09:20.000000000,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN
...,...,...,...,...,...,...,...,...,...,...
77024,충남청,20/12/31 00:16:14.000000000,19,10,406,1.0,충청남도 태안군 태안읍 남문리(행정:태안읍) 690-8,126.298968,36.747649,Y
77036,대전청,20/12/31 01:08:43.000000000,13,10,401,1.0,대전광역시 중구 대흥동(행정:대흥동),127.428343,36.324386,NaN
77066,충남청,20/12/31 00:26:16.000000000,19,10,406,1.0,충청남도 태안군 태안읍 남문리(행정:태안읍) 690-8,126.298968,36.747649,Y
77068,대전청,20/12/31 01:17:01.000000000,13,10,401,1.0,대전광역시 서구 도마동(행정:도마2동) 549-1,127.369099,36.312971,NaN
77069,대전청,20/12/31 01:18:53.000000000,13,10,401,1.0,대전광역시 서구 도마동(도마2동) 549-1,127.368945,36.312984,NaN

In [ ]:
KP2020_4.to_csv(path + 'KP2020_4.csv', index=False)

### 2) 날짜 세분화

In [ ]:
KP2020_4 = pd.read_csv(path + 'KP2020_4.csv')

In [ ]:
KP2020_4['RECV_CPLT_DM']

0       20/12/01 08:17:50.000000000
1       20/12/01 03:24:26.000000000
2       20/12/01 07:37:18.000000000
3       20/12/01 07:08:44.000000000
4       20/12/01 07:09:20.000000000
                   ...
9338    20/12/31 00:16:14.000000000
9339    20/12/31 01:08:43.000000000
9340    20/12/31 00:26:16.000000000
9341    20/12/31 01:17:01.000000000
9342    20/12/31 01:18:53.000000000
Name: RECV_CPLT_DM, Length: 9343, dtype: object

In [ ]:
KP2020_4['DATE'], KP2020_4['TIME'] = KP2020_4['RECV_CPLT_DM'].str.split(' ', 1).str
KP2020_4['YEAR'], KP2020_4['MONTH'], KP2020_4['DAY'] = KP2020_4['DATE'].str.split('/', 2).str

In [ ]:
# 교통 + 날짜 세분화 한 파일
KP2020_4.to_csv(path + 'KP2020_4_d.csv', index=False)

### 3) 시간 세분화

In [ ]:
KP2020_4_d = pd.read_csv(path + 'KP2020_4_d.csv')

In [ ]:
# datetime 형식으로 변환
KP2020_4_d['RECV_CPLT_DM'] = pd.to_datetime(KP2020_4_d['RECV_CPLT_DM'], format='%y/%m/%d %H:%M:%S.000000000')

KP2020_4_d.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,DATE,TIME,YEAR,MONTH,DAY
0,충남청,2020-12-01 08:17:50,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20/12/01,08:17:50.000000000,20,12,1
1,대전청,2020-12-01 03:24:26,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20/12/01,03:24:26.000000000,20,12,1
2,충남청,2020-12-01 07:37:18,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20/12/01,07:37:18.000000000,20,12,1
3,대전청,2020-12-01 07:08:44,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20/12/01,07:08:44.000000000,20,12,1
4,대전청,2020-12-01 07:09:20,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20/12/01,07:09:20.000000000,20,12,1

In [ ]:
# datetime 자료형에서 시간 정보 추출
KP2020_4_d['HOUR'] = KP2020_4_d['RECV_CPLT_DM'].dt.hour      #시
KP2020_4_d['MINUTE'] = KP2020_4_d['RECV_CPLT_DM'].dt.minute  #분
KP2020_4_d['SECOND'] = KP2020_4_d['RECV_CPLT_DM'].dt.second  #초
KP2020_4_d.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,DATE,TIME,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,충남청,2020-12-01 08:17:50,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20/12/01,08:17:50.000000000,20,12,1,8,17,50
1,대전청,2020-12-01 03:24:26,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20/12/01,03:24:26.000000000,20,12,1,3,24,26
2,충남청,2020-12-01 07:37:18,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20/12/01,07:37:18.000000000,20,12,1,7,37,18
3,대전청,2020-12-01 07:08:44,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20/12/01,07:08:44.000000000,20,12,1,7,8,44
4,대전청,2020-12-01 07:09:20,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20/12/01,07:09:20.000000000,20,12,1,7,9,20

In [ ]:
# 교통 + 날짜 + 시간 세분화 저장
KP2020_4_d.to_csv(path + 'KP2020_4_d_t.csv', index=False)






---



---

## DATA2: KP2021

In [ ]:
KP2021

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,대전청,21/03/07 00:00:01.000000000,13,10,604,3.0,대전광역시 서구 둔산동 1122,127.373676,36.350975,Y
1,대전청,21/03/07 00:02:13.000000000,13,10,201,1.0,대전광역시 유성구 상대동(원신흥동) 469-9,127.339018,36.347420,NaN
2,대전청,21/03/07 00:00:33.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
3,대전청,21/03/07 00:01:18.000000000,13,10,601,3.0,NaN,127.404663,36.341685,NaN
4,대전청,21/03/07 00:01:43.000000000,13,10,308,1.0,대전광역시 중구 선화동 141-16,127.420455,36.330413,NaN
...,...,...,...,...,...,...,...,...,...,...
2594055,대전청,23/01/12 11:23:09.000000000,13,10,104,1.0,대전광역시 유성구 봉명동 (행정:원신흥동 ) 1016-7,127.344600,36.352272,NaN
2594056,충남청,23/01/16 11:59:47.000000000,19,10,307,2.0,충청남도 서산시 음암면 부장리(음암면 ) 560-4,126.514047,36.785626,NaN
2594057,충남청,23/01/16 11:58:54.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594058,충남청,23/01/14 01:00:47.000000000,19,10,601,3.0,NaN,NaN,NaN,NaN
2594059,대전청,23/01/14 01:22:31.000000000,13,10,606,1.0,NaN,127.404663,36.341685,NaN

### 1) 교통사고 관련 데이터 추출

In [ ]:
idx4 = [i for i in range(len(KP2021['EVT_CL_CD'])) if KP2021['EVT_CL_CD'][i] in [4, 401, 402, 403, 404, 405, 406]]
KP2021_4 = KP2021.iloc[idx4, :]
KP2021_4

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
14,충남청,21/03/07 00:02:48.000000000,19,10,406,1.0,충청남도 천안시 서북구 불당동(불당동) 1625,127.107500,36.811944,NaN
20,충남청,21/03/07 00:09:04.000000000,19,10,402,1.0,충청남도 천안시 동남구 문화동(문성동) 41-5,127.150988,36.811792,Y
23,대전청,21/03/07 00:07:54.000000000,13,10,401,2.0,대전광역시 서구 괴정동(괴정동) 367-40,127.371854,36.341961,NaN
26,대전청,21/03/07 00:15:27.000000000,13,10,401,1.0,대전광역시 유성구 상대동 471-2,127.339334,36.346899,NaN
44,충남청,21/03/07 00:12:08.000000000,19,10,403,2.0,충청남도 공주시 우성면 평목리,127.090733,36.453397,NaN
...,...,...,...,...,...,...,...,...,...,...
2593994,대전청,23/01/15 20:01:39.000000000,13,10,401,1.0,대전 서구 괴정동 88-6,127.384284,36.334507,NaN
2594002,충남청,23/01/16 21:26:56.000000000,19,10,401,1.0,충청남도 태안군 근흥면 두야리(근흥면 ) 246-2,126.262393,36.751467,NaN
2594006,충남청,23/01/14 01:02:48.000000000,19,10,403,2.0,충청남도 천안시 동남구 다가동 (일봉동 ) 61-35,127.147678,36.789125,NaN
2594019,대전청,23/01/14 17:35:38.000000000,13,10,401,1.0,대전광역시 대덕구 신탄진동 (행정:신탄진동 ) 129-7,127.433785,36.450725,NaN
2594035,대전청,23/01/15 01:13:20.000000000,13,10,401,1.0,대전광역시 대덕구 평촌동 (행정:덕암동 ) 346,127.428287,36.425403,Y

In [ ]:
KP2021_4.to_csv(path + 'KP2021_4.csv', index=False)

### 2) 날짜 세분화

In [ ]:
KP2021_4 = pd.read_csv(path + 'KP2021_4.csv')

In [ ]:
KP2021_4['DATE'], KP2021_4['TIME'] = KP2021_4['RECV_CPLT_DM'].str.split(' ', 1).str
KP2021_4['YEAR'], KP2021_4['MONTH'], KP2021_4['DAY'] = KP2021_4['DATE'].str.split('/', 2).str
KP2021_4

<ipython-input-78-546c2cecf2ff>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  KP2021_4['date'], KP2021_4['time'] = KP2021_4['RECV_CPLT_DM'].str.split(' ', 1).str
<ipython-input-78-546c2cecf2ff>:2: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  KP2021_4['year'], KP2021_4['month'], KP2021_4['day'] = KP2021_4['date'].str.split('/', 2).str

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,date,time,year,month,day
0,충남청,21/03/07 00:02:48.000000000,19,10,406,1.0,충청남도 천안시 서북구 불당동(불당동) 1625,127.107500,36.811944,NaN,21/03/07,00:02:48.000000000,21,03,07
1,충남청,21/03/07 00:09:04.000000000,19,10,402,1.0,충청남도 천안시 동남구 문화동(문성동) 41-5,127.150988,36.811792,Y,21/03/07,00:09:04.000000000,21,03,07
2,대전청,21/03/07 00:07:54.000000000,13,10,401,2.0,대전광역시 서구 괴정동(괴정동) 367-40,127.371854,36.341961,NaN,21/03/07,00:07:54.000000000,21,03,07
3,대전청,21/03/07 00:15:27.000000000,13,10,401,1.0,대전광역시 유성구 상대동 471-2,127.339334,36.346899,NaN,21/03/07,00:15:27.000000000,21,03,07
4,충남청,21/03/07 00:12:08.000000000,19,10,403,2.0,충청남도 공주시 우성면 평목리,127.090733,36.453397,NaN,21/03/07,00:12:08.000000000,21,03,07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278321,대전청,23/01/15 20:01:39.000000000,13,10,401,1.0,대전 서구 괴정동 88-6,127.384284,36.334507,NaN,23/01/15,20:01:39.000000000,23,01,15
278322,충남청,23/01/16 21:26:56.000000000,19,10,401,1.0,충청남도 태안군 근흥면 두야리(근흥면 ) 246-2,126.262393,36.751467,NaN,23/01/16,21:26:56.000000000,23,01,16
278323,충남청,23/01/14 01:02:48.000000000,19,10,403,2.0,충청남도 천안시 동남구 다가동 (일봉동 ) 61-35,127.147678,36.789125,NaN,23/01/14,01:02:48.000000000,23,01,14
278324,대전청,23/01/14 17:35:38.000000000,13,10,401,1.0,대전광역시 대덕구 신탄진동 (행정:신탄진동 ) 129-7,127.433785,36.450725,NaN,23/01/14,17:35:38.000000000,23,01,14
278325,대전청,23/01/15 01:13:20.000000000,13,10,401,1.0,대전광역시 대덕구 평촌동 (행정:덕암동 ) 346,127.428287,36.425403,Y,23/01/15,01:13:20.000000000,23,01,15

In [ ]:
# 교통 + 날짜 세분화 한 파일
KP2021_4.to_csv(path + 'KP2021_4_d.csv', index=False)

### 3) 시간 세분화

In [ ]:
KP2021_4_d = pd.read_csv(path + 'KP2021_4_d.csv')
KP2021_4_d.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,DATE,TIME,YEAR,MONTH,DAY
0,충남청,21/03/07 00:02:48.000000000,19,10,406,1.0,충청남도 천안시 서북구 불당동(불당동) 1625,127.107500,36.811944,NaN,21/03/07,00:02:48.000000000,21,3,7
1,충남청,21/03/07 00:09:04.000000000,19,10,402,1.0,충청남도 천안시 동남구 문화동(문성동) 41-5,127.150988,36.811792,Y,21/03/07,00:09:04.000000000,21,3,7
2,대전청,21/03/07 00:07:54.000000000,13,10,401,2.0,대전광역시 서구 괴정동(괴정동) 367-40,127.371854,36.341961,NaN,21/03/07,00:07:54.000000000,21,3,7
3,대전청,21/03/07 00:15:27.000000000,13,10,401,1.0,대전광역시 유성구 상대동 471-2,127.339334,36.346899,NaN,21/03/07,00:15:27.000000000,21,3,7
4,충남청,21/03/07 00:12:08.000000000,19,10,403,2.0,충청남도 공주시 우성면 평목리,127.090733,36.453397,NaN,21/03/07,00:12:08.000000000,21,3,7

In [ ]:
# datetime 형식으로 변환
KP2021_4_d['RECV_CPLT_DM'] = pd.to_datetime(KP2021_4_d['RECV_CPLT_DM'], format='%y/%m/%d %H:%M:%S.000000000')

KP2021_4_d.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,DATE,TIME,YEAR,MONTH,DAY
0,충남청,2021-03-07 00:02:48,19,10,406,1.0,충청남도 천안시 서북구 불당동(불당동) 1625,127.107500,36.811944,NaN,21/03/07,00:02:48.000000000,21,3,7
1,충남청,2021-03-07 00:09:04,19,10,402,1.0,충청남도 천안시 동남구 문화동(문성동) 41-5,127.150988,36.811792,Y,21/03/07,00:09:04.000000000,21,3,7
2,대전청,2021-03-07 00:07:54,13,10,401,2.0,대전광역시 서구 괴정동(괴정동) 367-40,127.371854,36.341961,NaN,21/03/07,00:07:54.000000000,21,3,7
3,대전청,2021-03-07 00:15:27,13,10,401,1.0,대전광역시 유성구 상대동 471-2,127.339334,36.346899,NaN,21/03/07,00:15:27.000000000,21,3,7
4,충남청,2021-03-07 00:12:08,19,10,403,2.0,충청남도 공주시 우성면 평목리,127.090733,36.453397,NaN,21/03/07,00:12:08.000000000,21,3,7

In [ ]:
# datetime 자료형에서 시간 정보 추출
KP2021_4_d['HOUR'] = KP2021_4_d['RECV_CPLT_DM'].dt.hour      #시
KP2021_4_d['MINUTE'] = KP2021_4_d['RECV_CPLT_DM'].dt.minute  #분
KP2021_4_d['SECOND'] = KP2021_4_d['RECV_CPLT_DM'].dt.second  #초
KP2021_4_d.head()

,RECV_DEPT_NM,RECV_CPLT_DM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,DATE,TIME,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,충남청,2021-03-07 00:02:48,19,10,406,1.0,충청남도 천안시 서북구 불당동(불당동) 1625,127.107500,36.811944,NaN,21/03/07,00:02:48.000000000,21,3,7,0,2,48
1,충남청,2021-03-07 00:09:04,19,10,402,1.0,충청남도 천안시 동남구 문화동(문성동) 41-5,127.150988,36.811792,Y,21/03/07,00:09:04.000000000,21,3,7,0,9,4
2,대전청,2021-03-07 00:07:54,13,10,401,2.0,대전광역시 서구 괴정동(괴정동) 367-40,127.371854,36.341961,NaN,21/03/07,00:07:54.000000000,21,3,7,0,7,54
3,대전청,2021-03-07 00:15:27,13,10,401,1.0,대전광역시 유성구 상대동 471-2,127.339334,36.346899,NaN,21/03/07,00:15:27.000000000,21,3,7,0,15,27
4,충남청,2021-03-07 00:12:08,19,10,403,2.0,충청남도 공주시 우성면 평목리,127.090733,36.453397,NaN,21/03/07,00:12:08.000000000,21,3,7,0,12,8

In [ ]:
# 교통 + 날짜 + 시간 세분화 저장
KP2021_4_d.to_csv(path + 'KP2021_4_d_t.csv', index=False)



---



---

## DATA3: NPA2020

In [ ]:
NPA2020

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
0,20200101,7,13,10,501,2,대전광역시 중구 목동(행정:목동) 360,127.409270,36.333010,Y
1,20200101,132,13,10,501,1,대전광역시 중구 대흥동(대흥동) 499-1,127.421295,36.325575,NaN
2,20200101,39,13,10,501,1,NaN,127.404663,36.341685,NaN
3,20200101,110,13,10,601,3,NaN,0.000000,0.000000,NaN
4,20200101,342,13,10,601,1,NaN,127.404663,36.341685,NaN
...,...,...,...,...,...,...,...,...,...,...
1178239,20201122,3505,19,10,501,1,,NaN,NaN,
1178240,20201122,5213,13,10,601,,,127.404663,36.341685,
1178241,20201122,4627,19,10,601,1,,NaN,NaN,Y
1178242,20201122,5246,19,5,301,1,충청남도 보령시 신흑동(행정:대천5동),126.516040,36.305619,
1178243,20201122,1134,13,10,601,,,127.404663,36.341685,

### 1) 교통사고 관련 데이터 추출

In [ ]:
idx4 = [i for i in range(len(NPA2020['EVT_CL_CD'])) if NPA2020['EVT_CL_CD'][i] in [4, 401, 402, 403, 404, 405, 406]]
NPA2020_4 = NPA2020.iloc[idx4, :]
NPA2020_4

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN
38,20200101,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN
41,20200101,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN
54,20200101,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN
66,20200101,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN
117,20200101,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N
...,...,...,...,...,...,...,...,...,...,...
1178083,20201122,2007,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,
1178086,20201122,4008,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y
1178143,20201122,5719,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,
1178173,20201122,3753,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y
1178234,20201122,1522,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,

In [ ]:
NPA2020_4.to_csv(path + 'NPA2020_4.csv', index=False)

### RECV_CPLT_TM6

In [ ]:
NPA2020_4 = pd.read_csv(path + 'NPA2020_4.csv')

In [ ]:
TM6 = []

for i in range(len(NPA2020_4['RECV_CPLT_TM'])):
  tm = str(NPA2020_4['RECV_CPLT_TM'][i])
  while True:
    if len(tm) == 6:
      TM6.append(tm)
      break
    tm = ''.join(('0', tm))

NPA2020_4['RECV_CPLT_TM6'] = TM6

### 2) 날짜 세분화

In [ ]:
# RECV_CPLT_DT(일자) datetime 형식으로 변경 

from datetime import datetime

DT_TM = []
datetime_format = "%Y%m%d"
for i in range(len(NPA2020_4['RECV_CPLT_TM6'])):
  datetime_string = str(NPA2020_4['RECV_CPLT_DT'][i])
  DT_TM.append(datetime.strptime(datetime_string, datetime_format))

NPA2020_4['RECV_CPLT_DT'] = DT_TM

NPA2020_4['RECV_CPLT_DT'] = NPA2020_4["RECV_CPLT_DT"].dt.strftime("%Y/%m/%d")
NPA2020_4

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,RECV_CPLT_TM6
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,003240
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,003532
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,002135
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,004301
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,184335
...,...,...,...,...,...,...,...,...,...,...,...
142923,2020/11/22,2007,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,002007
142924,2020/11/22,4008,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,004008
142925,2020/11/22,5719,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,005719
142926,2020/11/22,3753,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,003753
142927,2020/11/22,1522,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,001522

In [ ]:
NPA2020_4['YEAR'], NPA2020_4['MONTH'], NPA2020_4['DAY'] = NPA2020_4['RECV_CPLT_DT'].str.split('/', 2).str
NPA2020_4

<ipython-input-110-dbd4a5acd542>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  NPA2020_4['year'], NPA2020_4['month'], NPA2020_4['day'] = NPA2020_4['RECV_CPLT_DT'].str.split('/', 2).str

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,RECV_CPLT_TM6,year,month,day
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,003240,2020,01,01
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,003532,2020,01,01
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,002135,2020,01,01
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,004301,2020,01,01
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,184335,2020,01,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142923,2020/11/22,2007,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,002007,2020,11,22
142924,2020/11/22,4008,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,004008,2020,11,22
142925,2020/11/22,5719,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,005719,2020,11,22
142926,2020/11/22,3753,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,003753,2020,11,22
142927,2020/11/22,1522,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,001522,2020,11,22

In [ ]:
NPA2020_4['YEAR'].unique()

array(['2020'], dtype=object)

In [ ]:
NPA2020_4['YEAR'] = 20
NPA2020_4.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,RECV_CPLT_TM6,year,month,day
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,003240,20,01,01
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,003532,20,01,01
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,002135,20,01,01
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,004301,20,01,01
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,184335,20,01,01

In [ ]:
# 교통 + 날짜 세분화 한 파일
NPA2020_4.to_csv(path + 'NPA2020_4_d.csv', index=False)

### 3) 시간 세분화

In [ ]:
NPA2020_4_d = pd.read_csv(path + 'NPA2020_4_d.csv')
NPA2020_4_d.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,RECV_CPLT_TM6,YEAR,MONTH,DAY
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,3240,20,1,1
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,3532,20,1,1
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,2135,20,1,1
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,4301,20,1,1
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,184335,20,1,1

In [ ]:
# RECV_CPLT_TM 6자리로 변경 --> RECV_CPLT_TM6 열 추가

TM6 = []

for i in range(len(NPA2020_4_d['RECV_CPLT_TM'])):
  tm = str(NPA2020_4_d['RECV_CPLT_TM'][i])
  while True:
    if len(tm) == 6:
      TM6.append(tm)
      break
    tm = ''.join(('0', tm))

NPA2020_4_d['RECV_CPLT_TM6'] = TM6

In [ ]:
NPA2020_4_d.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,RECV_CPLT_TM6
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,20,1,1,003240
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,20,1,1,003532
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,20,1,1,002135
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,20,1,1,004301
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,20,1,1,184335

In [ ]:
NPA2020_4_d['HOUR'] = NPA2020_4_d['RECV_CPLT_TM6'].str[:2]
NPA2020_4_d['MINUTE'] = NPA2020_4_d['RECV_CPLT_TM6'].str[2:4]
NPA2020_4_d['SECOND'] = NPA2020_4_d['RECV_CPLT_TM6'].str[4:]
NPA2020_4_d.head()

,RECV_CPLT_DT,RECV_CPLT_TM,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_OLD_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,RECV_CPLT_TM6,HOUR,MINUTE,SECOND
0,2020/01/01,3240,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,20,1,1,003240,00,32,40
1,2020/01/01,3532,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,20,1,1,003532,00,35,32
2,2020/01/01,2135,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,20,1,1,002135,00,21,35
3,2020/01/01,4301,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,20,1,1,004301,00,43,01
4,2020/01/01,184335,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,20,1,1,184335,18,43,35

In [ ]:
# 교통 + 날짜 + 시간 세분화 저장
NPA2020_4_d.to_csv(path + 'NPA2020_4_d_t.csv', index=False)



---



---



---

## 데이터 결합
- KP2020, KP2021, NPA2020 데이터 결합

In [ ]:
KP2020_4_d_t = pd.read_csv(path + 'KP2020_4_d_t.csv')
KP2021_4_d_t = pd.read_csv(path + 'KP2021_4_d_t.csv')
NPA2020_4_d_t = pd.read_csv(path + 'NPA2020_4_d_t.csv')

In [ ]:
KP2020_4_d_t.columns

Index(['RECV_DEPT_NM', 'RECV_CPLT_DM', 'NPA_CL', 'EVT_STAT_CD', 'EVT_CL_CD',
       'RPTER_SEX', 'HPPN_PNU_ADDR', 'HPPN_X', 'HPPN_Y', 'SME_EVT_YN', 'DATE',
       'TIME', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'],
      dtype='object')

In [ ]:
KP2021_4_d_t.columns

Index(['RECV_DEPT_NM', 'RECV_CPLT_DM', 'NPA_CL', 'EVT_STAT_CD', 'EVT_CL_CD',
       'RPTER_SEX', 'HPPN_PNU_ADDR', 'HPPN_X', 'HPPN_Y', 'SME_EVT_YN', 'DATE',
       'TIME', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'SECOND'],
      dtype='object')

In [ ]:
NPA2020_4_d_t.columns

Index(['RECV_CPLT_DT', 'RECV_CPLT_TM', 'NPA_CL', 'EVT_STAT_CD', 'EVT_CL_CD',
       'RPTER_SEX', 'HPPN_OLD_ADDR', 'HPPN_X', 'HPPN_Y', 'SME_EVT_YN', 'YEAR',
       'MONTH', 'DAY', 'RECV_CPLT_TM6', 'HOUR', 'MINUTE', 'SECOND'],
      dtype='object')

drop

> KP2020_4_d_t, KP2021_4_d_t : RECV_DEPT_NM, RECV_CPLT_DM, DATE, TIME

> NPA2020_4_d_t : RECV_CPLT_DT, RECV_CPLT_TM, RECV_CPLT_TM6

In [ ]:
KP2020_4_d_t.drop(['RECV_DEPT_NM', 'RECV_CPLT_DM', 'DATE', 'TIME'], axis=1, inplace=True)
KP2021_4_d_t.drop(['RECV_DEPT_NM', 'RECV_CPLT_DM', 'DATE', 'TIME'], axis=1, inplace=True)
NPA2020_4_d_t.drop(['RECV_CPLT_DT', 'RECV_CPLT_TM', 'RECV_CPLT_TM6'], axis = 1, inplace=True)

In [ ]:
NPA2020_4_d_t.rename(columns={'HPPN_OLD_ADDR':'HPPN_PNU_ADDR'}, inplace=True)
NPA2020_4_d_t.head()

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,13,10,402,1,대전광역시 서구 탄방동(탄방동) 1447-1,127.386346,36.346856,NaN,20,1,1,0,32,40
1,13,10,406,1,대전광역시 유성구 궁동(행정:온천2동) 423-8,127.349989,36.360797,NaN,20,1,1,0,35,32
2,13,10,401,1,대전광역시 유성구 봉명동(행정:온천1동) 541-26,127.348625,36.353829,NaN,20,1,1,0,21,35
3,13,10,401,1,대전광역시 중구 오류동(행정:오류동) 187-27,127.405055,36.328573,NaN,20,1,1,0,43,1
4,13,10,401,3,대전광역시 동구 가양동 630,127.445780,36.345500,N,20,1,1,18,43,35

In [ ]:
data = pd.concat([KP2020_4_d_t, KP2021_4_d_t, NPA2020_4_d_t])
data

,NPA_CL,EVT_STAT_CD,EVT_CL_CD,RPTER_SEX,HPPN_PNU_ADDR,HPPN_X,HPPN_Y,SME_EVT_YN,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND
0,19,10,401,2.0,충청남도 천안시 서북구 성정동(행정:성정2동) 1259,127.137160,36.826718,NaN,20,12,1,8,17,50
1,13,10,406,1.0,대전광역시 유성구 봉명동(행정:온천1동) 575,127.341551,36.353696,NaN,20,12,1,3,24,26
2,19,10,402,1.0,충청남도 천안시 서북구 성환읍 성월리(행정:성환읍) 150,127.136142,36.917900,NaN,20,12,1,7,37,18
3,13,10,401,1.0,대전광역시 중구 석교동(석교동) 85-14,127.447545,36.306724,NaN,20,12,1,7,8,44
4,13,10,401,2.0,대전광역시 중구 석교동(행정:석교동) 88-11,127.447175,36.306694,NaN,20,12,1,7,9,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142923,13,7,406,1,대전광역시 중구 오류동(행정:오류동) 175-2,127.404540,36.325219,,20,11,22,0,20,7
142924,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,40,8
142925,19,5,406,3,충청남도 천안시 서북구 불당동(행정:불당동) 1540,127.107617,36.813773,,20,11,22,0,57,19
142926,13,5,401,1,대전광역시 동구 신흥동(행정:신인동) 212,127.446090,36.320140,Y,20,11,22,0,37,53
142927,19,7,406,1,충청남도 천안시 동남구 안서동(신안동) 산16-5,127.173382,36.841991,,20,11,22,0,15,22

In [ ]:
# 모든 데이터 결합
data.to_csv(path + 'data.csv', index=False)



---



---



---